.home-wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;

  .create-wrapper {
    display: flex;
    justify-content: flex-end;
    button {
      width: 200px;
    }
  }
  .notes-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .pagination-wrapper {
    display: flex;
    width: 400px;
    margin: auto;
  }
}
