.button {
  padding: 10px;
  font-size: 14px;
  background-color: #add3d8;
  border: 1px solid #add3d8;
  border-radius: 8px;
  color: #444444;
  width: 100%;
  box-sizing: border-box;
  font-weight: 700;
  transition: background-color 0.3s ease-in-out;
  outline: none;
}
.button:hover {
  background-color: #8dbfc6;
  border: 1px solid #8dbfc6;
  color: #383636;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
