.create-notes-wrapper {
    margin: auto;
    max-width: 50vw;
    .button-action {
        width: 200px;
        margin-left: auto;
        margin-right: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .page-title {
        font-weight: bold;
    }
}
