.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: white;
  border-bottom: 1px solid #e2e2e2;

  .logo-app {
    font-size: 14px;
    font-weight: bolder;
    color: #5d5d5d;
    margin: 0;
    img {
      width: 120px;
      height: 20px;
    }
  }
  .menu-item {
    font-size: 12px;
    font-weight: bolder;
    color: #5d5d5d;
    margin: 0;
    cursor: pointer;
  }
}
